template(name='visible')
  a.bookmark(id='visibleBk')
  #visible.section
    h1 visible / if Bindings
    p Visible and if bindings are synonyms and cause the html element to appear on screen or not, depending on the value of the bound property.
    pre data-bind='visible: booleanProperty'
    pre data-bind='if: booleanProperty'
    .row
      input(type='checkbox', data-bind="checked: showPrimary")
      | Show Primary Button
    .row
      input(type='checkbox', data-bind="checked: showInfo")
      | Show Info Button
    .row
      button.btn.btn-primary(data-bind="visible: showPrimary") Primary
    .row
      button.btn.btn-info(data-bind="if: showInfo") Info

  .section
    h2 Code
    ul.nav.nav-pills
      li.active
        a(href="#visible-jade", data-toggle="tab") Jade
      li
        a(href="#visible-html", data-toggle="tab") Html
    div.tab-content
      div#visible-jade.tab-pane.fade.active.in
        pre.
          template(name='visible')
            .row
              input(type='checkbox', data-bind="checked: showPrimary")
              | Show Primary Button
            .row
              input(type='checkbox', data-bind="checked: showInfo")
              | Show Info Button
            .row
              button.btn-primary(data-bind="<b>visible: showPrimary</b>") Primary
            .row
              button.btn-info(data-bind="<b>if: showInfo</b>") Info
      div#visible-html.tab-pane.fade
        pre.
          &lt;template name=&quot;visible&quot;&gt;
            &lt;div class=&quot;row&quot;&gt;
              &lt;input type=&quot;checkbox&quot; data-bind=&quot;checked: showPrimary&quot;/&gt;Show Primary Button
            &lt;/div&gt;
            &lt;div class=&quot;row&quot;&gt;
              &lt;input type=&quot;checkbox&quot; data-bind=&quot;checked: showInfo&quot;/&gt;Show Info Button
            &lt;/div&gt;
            &lt;div class=&quot;row&quot;&gt;
              &lt;button data-bind=&quot;visible: showPrimary&quot; class=&quot;btn-primary&quot;&gt;Primary&lt;/button&gt;
            &lt;/div&gt;
            &lt;div class=&quot;row&quot;&gt;
              &lt;button data-bind=&quot;if: showInfo&quot; class=&quot;btn-info&quot;&gt;Info&lt;/button&gt;
            &lt;/div&gt;
          &lt;/template&gt;
    ul.nav.nav-pills
      li.active
        a(href="#visible-coffee", data-toggle="tab") Coffeescript
      li
        a(href="#visible-js", data-toggle="tab") Javascript
    div.tab-content
      div#visible-coffee.tab-pane.fade.active.in
        pre.
          Template.visible.rendered = ->
            new ViewModel(
              <b>showPrimary</b>: true
              <b>showInfo</b>: true
            ).bind @
      div#visible-js.tab-pane.fade
        pre.
          Template.visible.rendered = function() {
            return new ViewModel({
              showPrimary: true,
              showInfo: true
            }).bind(this);
          };