template(name='html')
  a.bookmark(id='htmlBk')
  .section
    h1 html Binding
    p The html binding causes the html element to display the html returned by the given function/property.
    .row
      input.pull-left(type='text', placeholder='Type some html...', data-bind="value: innerHTML")
      div.pull-left(data-bind="html: innerHTML")

  .section
    h2 Code
    ul.nav.nav-pills
      li
        a(href="#html-jade", data-toggle="tab") Jade
      li.active
        a(href="#html-html", data-toggle="tab") Html
    div.tab-content
      div#html-jade.tab-pane.fade
        pre.
          template(name='html')
            input(type='text', placeholder='Type something...', data-bind="value: innerHTML")
            <b>div</b>(data-bind="<b>html: innerHTML</b>")
      div#html-html.tab-pane.fade.active.in
        pre.
          &lt;template name=&quot;html&quot;&gt;
            &lt;input type=&quot;text&quot; placeholder=&quot;Type something...&quot; data-bind=&quot;value: innerHTML&quot;/&gt;
            &lt;div data-bind=&quot;html: innerHTML&quot;&gt;&lt;/div&gt;
          &lt;/template&gt;
    ul.nav.nav-pills
      li
        a(href="#html-coffee", data-toggle="tab") Coffeescript
      li.active
        a(href="#html-js", data-toggle="tab") Javascript
    div.tab-content
      div#html-coffee.tab-pane.fade
        pre.
          Template.html.viewmodel
            <b>innerHTML</b>: '&lt;i&gt;Italic!&lt;/i&gt;'

      div#html-js.tab-pane.fade.active.in
        pre.
          Template.html.viewmodel({
            innerHTML: '<i>Italic!</i>'
          });
