template(name='viewmodelExplorer')
  a.bookmark(id='viewmodelExplorerBk')
  .section
    h1 ViewModel Explorer
    p If you want to keep track of the view models in your page (and their properties), check out the view model explorer package. It's debug only so it doesn't go into your production environment. To use it just press Ctrl + Shift + E. Install it with:
    pre.
      meteor add manuel:viewmodel-explorer
    p
    p This page has the view model explorer activated so go ahead and press Ctrl + Shift + E so you can get a preview of it.