template(name="objectArraySingle")
  .section
    h2 Object Array - Single Selection
    p.
      Use a list of objects to populate a select object.
    pre.
      &lt;select data-bind=&#39;options: array, value: property, optionsValue: id, optionsText: name&#39;&gt;&lt;/select&gt;

      <b>optionsValue:</b> Property used for the option value
      <b>optionsText:</b> Property used for the option text

    p
      select(size="5", data-bind="options: countries, value: selectedId, optionsValue: id, optionsText: name")
    p
      | Selected id:
      span(data-bind="text: selectedId")
    p
      | Selected name:
      span(data-bind="text: selectedName")

  .section
    h3 Code
    ul.nav.nav-pills
      li
        a(href="#objectArraySingle-jade", data-toggle="tab") Jade
      li.active
        a(href="#objectArraySingle-html", data-toggle="tab") Html
    div.tab-content
      div#objectArraySingle-jade.tab-pane.fade
        pre.
          template(name='objectArraySingle')
            p
              select(size="5", data-bind="options: countries, value: selectedId, optionsValue: id, optionsText: name")
            p
              | Selected id:
              span(data-bind="text: selectedId")
            p
              | Selected name:
              span(data-bind="text: selectedName")
      div#objectArraySingle-html.tab-pane.fade.active.in
        pre.
          &lt;template name=&quot;objectArraySingle&quot;&gt;
            &lt;p&gt;
              &lt;select size="5" data-bind="options: countries, value: selectedId, optionsValue: id, optionsText: name"&gt;&lt;/select&gt;
            &lt;/p&gt;
            &lt;p&gt;Selected id:&lt;span data-bind="text: selectedId"&gt;&lt;/span&gt;&lt;/p&gt;
            &lt;p&gt;Selected name:&lt;span data-bind="text: selectedName"&gt;&lt;/span&gt;&lt;/p&gt;
          &lt;/template&gt;
    ul.nav.nav-pills
      li
        a(href="#objectArraySingle-coffee", data-toggle="tab") Coffeescript
      li.active
        a(href="#objectArraySingle-js", data-toggle="tab") Javascript
    div.tab-content
      div#objectArraySingle-coffee.tab-pane.fade
        pre.
          Template.objectArraySingle.viewmodel
            countries: [{ id: 1, name: 'France' }, { id: 2, name: 'Germany' }, { id: 3, name: 'Spain' }]
            selectedId: 2
            selectedName: -> _.findWhere(this.countries(), { id: Number(this.selectedId()) })?.name

      div#objectArraySingle-js.tab-pane.fade.active.in
        pre.
          Template.objectArraySingle.viewmodel({
            countries: [
              { id: 1, name: 'France' },
              { id: 2, name: 'Germany' },
              { id: 3, name: 'Spain' }
            ],
            selectedId: 2,
            selectedName: function() {
              var ref;
              return (ref = _.findWhere(this.countries(), {
                id: Number(this.selectedId())
              })) != null ? ref.name : void 0;
            }
          });
