template(name='options')
  a.bookmark(id='optionsBk')
  #optionsBinding
    .section
      h1 options Binding
      p The options binding controls what options should appear in a drop-down list or multi-select list. This binding can only be used with SELECT elements
    +stringArraySingle
