template(name='header')
  #top-header.navbar.navbar-fixed-top
    .navbar-inner
      .container(style='width: auto;')
        a.brand(href='#problemBk') ViewModel
        ul.nav(role='navigation')
          li.dropdown
            a#drop1.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
              | Examples
              b.caret
            ul.dropdown-menu(role='menu')
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#loginBoxBk') Login Box
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#leaderboardBk') Leaderboard
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#contactsBk') Contacts
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#phonebookBk') Non Trivial Example

          li.dropdown
            a.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
              | Bindings
              b.caret
            ul.dropdown-menu(role='menu')
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#valueBk') value
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#returnKeyBk') returnKey
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#delayBk') delay
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#textBk') text
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#htmlBk') html
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#classSingleBk') class - single
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#classMultipleBk') class - multiple
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#styleSingleBk') style - single
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#styleMultipleBk') style - multiple
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#styleObjectBk') style - object
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#attrBk') attr
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#checkedBk') checked - checkboxes
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#checkedMultipleBk') checked - Multiple
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#checkedRadioBk') checked - radios
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#eventsBk') events
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#hoverBk') hover
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#focusedBk') focused
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#enabledBk') enabled / disabled
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#visibleBk') visible / if
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#hiddenBk') hidden / unless
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#optionsBk') options
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#changeBk') change
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#fileBk') file
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#filesBk') files
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#toggleBk') toggle

          li.dropdown
            a.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
              | Misc
              b.caret
            ul.dropdown-menu(role='menu')
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#bindBk') .bind
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#extendBk') .extend
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#tojsBk') .toJS
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#fromjsBk') .fromJS
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#resetBk') .reset
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#disposeBk') .dispose
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#addHelperBk') .addHelper(s)
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#parentBk') .parent
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#childrenBk') .children
              li.divider(role='presentation')
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#reactivityBk') Reactivity
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#sessionBk') Hot Code Pushes
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#stateOnUrlBk') State on the URL
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#extendingBk') Custom Bindings
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#arraysBk') Arrays
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#definingBk') Defining View Models
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#beyondBk') Beyond ViewModel
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#viewmodelExplorerBk') ViewModel Explorer

          li.dropdown
            a.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
              | Components
              b.caret
            ul.dropdown-menu(role='menu')
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#compBasicBk' ) Basic
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#compReuseBk' ) Reusing and Extending
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#compDynamicVMBk' ) Dynamic View Models
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#compParametersBk' ) Template Parameters
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#compCommunicationBk' ) Communication Bet. View Models
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#dataContextBk' ) Passing Data Contexts
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#blazeHooksBk' ) Blaze Hooks

          li.dropdown
            a.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
              | Testing
              b.caret
            ul.dropdown-menu(role='menu')
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#testCodeBk' ) Testing the code
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#testBindingsBk' ) Testing the bindings

          li.dropdown
            a.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
              | Source
              b.caret
            ul.dropdown-menu(role='menu')
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='https://github.com/ManuelDeLeon/viewmodel' target="_blank") ViewModel
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='https://github.com/ManuelDeLeon/viewmodel-docs' target="_blank") Documentation

          li
            a.twitter-share-button(href="https://twitter.com/share", data-count="none", data-text="ViewModel for Meteor makes life so much easier. #meteorjs #viewmodel", data-url="http://viewmodel.meteor.com", data-size="large")
