template(name='compParameters')
  a.bookmark(id='compParametersBk')
  .section.reuse
    h1 Components - Template Parameters
    p Sometimes you don't want to replace the whole view model, just a property or two. You can use template parameters to change the behavior of the view models.

    h3 Email Input Component
    pre.
      &lt;template name=&quot;emailInput&quot;&gt;
        &lt;div data-bind=&quot;<b>class: { error: invalidEmail }</b>&quot; class=&quot;control-group&quot;&gt;
          &lt;label class=&quot;control-label&quot;&gt;Email:&lt;/label&gt;
          &lt;div class=&quot;controls&quot;&gt;
            &lt;<b>input</b> type=&quot;text&quot; data-bind=&quot;<b>value: email</b>&quot;&gt;
            &lt;<b>span</b> data-bind=&quot;<b>text: message</b>&quot; class=&quot;help-inline&quot; &gt;&lt;/span&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/template&gt;
    pre.
      Template.emailInput.viewmodel(function (data) {
        var domain = data.domain;
        return {
          email: '',
          invalidEmail: function () {
            var emailRegex = new RegExp("^([\\w-]+(?:\\.[\\w-]+)*)@" + domain + "$", "i");
            return !(emailRegex.test(this.email()));
          },
          message: function () {
            return this.invalidEmail() ? "Not " + domain + " email" : "";
          }
        };
      });

    h3 Parent Template
    pre.
      &lt;template name=&quot;dynamicVmParent&quot;&gt;

        &lt;h4&gt;Example Email (ends with @example.com):&lt;/h4&gt;
        &lt;form class=&quot;form-horizontal&quot;&gt;
          <b>&#123;{&gt; emailInput domain="example.com" }}</b>
        &lt;/form&gt;

        &lt;h4&gt;Acme Email (ends with @acme.com):&lt;/h4&gt;
        &lt;form class=&quot;form-horizontal&quot;&gt;
          <b>&#123;{&gt; emailInput domain="acme.com" }}</b>
        &lt;/form&gt;

      &lt;/template&gt;

    h3 Result:
    +compParametersParent