template(name='file')
  a.bookmark(id='fileBk')
  #checked.section
    h1 file Binding
    p Binds a view model property with the file object returned by the input(type="file").
    pre data-bind='file: property'
    label.file
      input(type='file', data-bind="file: file, change: logFile")
    label
      | File Type:
      span(data-bind="text: fileType")

  .section
    h2 Code
    ul.nav.nav-pills
      li
        a(href="#file-jade", data-toggle="tab") Jade
      li.active
        a(href="#file-html", data-toggle="tab") Html
    div.tab-content
      div#file-jade.tab-pane.fade
        pre.
          template(name='file')
            label.file
              input(type='file', data-bind="file: file, change: logFile")
            label
              | File Type:
              span(data-bind="text: fileType")
      div#file-html.tab-pane.fade.active.in
        pre.
          &lt;template name=&quot;file&quot;&gt;
            &lt;label class=&quot;file&quot;&gt;
              &lt;input type=&quot;file&quot; data-bind=&quot;file: file, change: logFile&quot;/&gt;
            &lt;/label&gt;
            &lt;label&gt;File Type:&lt;span data-bind=&quot;text: fileType&quot;&gt;&lt;/span&gt;&lt;/label&gt;
          &lt;/template&gt;
    ul.nav.nav-pills
      li
        a(href="#file-coffee", data-toggle="tab") Coffeescript
      li.active
        a(href="#file-js", data-toggle="tab") Javascript
    div.tab-content
      div#file-coffee.tab-pane.fade
        pre.
          Template.file.viewmodel
            file: null
            fileType: -> @file()?.type
            logFile: -> console.log @file()
      div#file-js.tab-pane.fade.active.in
        pre.
          Template.file.viewmodel({
            file: null,
            fileType: function() {
              return this.file() && this.file().type;
            },
            logFile: function() {
              console.log(this.file());
            }
          });

