template(name='tutorial')
  ul.unstyled.main
    li
      +problem
    if notLocalhost
      li
        +introVideo
    li
      +loginBox
    li
      +leaderboard
    li
      +contacts
    li
      +phonebook

    li
      +value
    li
      +returnKey
    li
      +delay
    li
      +text
    li
      +html
    li
      +class2
    li
      +class1
    li
      +style1
    li
      +style2
    li
      +style3
    li
      +attr
    li
      +checked
    li
      +checkedMultiple
    li
      +checkedRadio
    li
      +eventsx
    li
      +hover
    li
      +focused
    li
      +enable
    li
      +visible
    li
      +hidden
    li
      +options
    li
      +change
    li
      +file
    li
      +files
    li
      +toggle


    li
      +bindx
    li
      +extendx
    li
      +tojs
    li
      +fromjs
    li
      +reset
    li
      +dispose
    li
      +addHelper
    li
      +parent
    li
      +children
    li
      +reactivity
    li
      +session
    li
      +extending
    li
      +arrays
    li
      +defining
    li
      +beyond
    li
      +viewmodelExplorer

    li
      +compBasic
    li
      +compReuse
    li
      +compDynamicVM
    li
      +compParameters
    li
      +compCommunication
    li
      +blazeHooks
    li
      +testCode
    li
      +testBindings