template(name='tutorial')
  ul.unstyled.main
    li
      +problem
    li
      +loginBox
    li
      +leaderboard
    li
      +contacts

    li
      +value
    li
      +returnKey
    li
      +delay
    li
      +text
    li
      +html
    li
      +class2
    li
      +class1
    li
      +style1
    li
      +style2
    li
      +style3
    li
      +attr
    li
      +checked
    li
      +checkedRadio
    li
      +eventsx
    li
      +hover
    li
      +focused
    li
      +enable
    li
      +visible

    li
      +bindx
    li
      +extendx
    li
      +tojs
    li
      +fromjs
    li
      +reset
    li
      +dispose
    li
      +reactivity
    li
      +session
    li
      +extending
    li
      +reactiveArrays
