template(name="stringArrayMultiple")
  .section
    h2 String Array - Multiple Selection
    pre &lt;select multiple data-bind=&#39;options: array, value: array&#39;&gt;&lt;/select&gt;

    p
      select#countries(multiple, size="5", data-bind="options: countries, value: selectedCountries")
      | Selected:
      span(data-bind="text: selectedCountries")
    p
      input(type="text", data-bind="value: newCountry, returnKey: addCountry", placeholder="New Country...")
      button.btn.btn-primary(data-bind="click: addCountry") Add Country
    p
      input(type="text", data-bind="value: countryToSelect, returnKey: selectCountry", placeholder="Country To Select...")
      button.btn.btn-primary(data-bind="click: selectCountry") Select Country

