template(name='phonebook')
  a.bookmark(id='phonebookBk')
  .section
    h1 Non Trivial Example
    p
      a(href="https://github.com/ManuelDeLeon/phonebook", target="_blank") https://github.com/ManuelDeLeon/phonebook
    p Phonebook is an app built as if it was going to be released in production. It has a master detail view, 3rd party packages, components, tests, collection helpers and hooks, user accounts, security, etc.

