template(name='enable')
  a.bookmark(id='enabledBk')
  .section
    h1 enabled / disabled Bindings
    p Will enable or disable the button based on the value returned by the binded property. If it's a button element it adds the disabled attribute (when disabled of course). If it's any other element (a link for example) it adds the disabled class to it.
    .row
      input.pull-left(type='text', placeholder='Type something...', data-bind="value: message")
      button.btn.btn-primary.pull-left(data-bind="enabled: message") Enabled if has text
      a.btn.btn-primary.pull-left(data-bind="disabled: message") Disabled if has text

  .section
    h2 Code
    ul.nav.nav-pills
      li.active
        a(href="#enable-jade", data-toggle="tab") Jade
      li
        a(href="#enable-html", data-toggle="tab") Html
    div.tab-content
      div#enable-jade.tab-pane.fade.active.in
        pre.
          template(name='enable')
            input(type='text', placeholder='Type something...', data-bind="value: message")
            button.btn-primary(data-bind="<b>enabled: message</b>") Enabled if has text
            a.btn-primary(data-bind="<b>disabled: message</b>") Disabled if has text
      div#enable-html.tab-pane.fade
        pre.
          &lt;template name=&quot;enable&quot;&gt;
            &lt;input type=&quot;text&quot; placeholder=&quot;Type something...&quot; data-bind=&quot;value: message&quot;/&gt;
            &lt;button data-bind=&quot;enabled: message&quot; class=&quot;btn-primary&quot;&gt;Enabled if has text&lt;/button&gt;
            &lt;a data-bind=&quot;disabled: message&quot; class=&quot;btn-primary&quot;&gt;Disabled if has text&lt;/a&gt;
          &lt;/template&gt;
    ul.nav.nav-pills
      li.active
        a(href="#enable-coffee", data-toggle="tab") Coffeescript
      li
        a(href="#enable-js", data-toggle="tab") Javascript
    div.tab-content
      div#enable-coffee.tab-pane.fade.active.in
        pre.
          Template.enable.rendered = ->
            new ViewModel(
              <b>message</b>: ''
            ).bind @
      div#enable-js.tab-pane.fade
        pre.
          Template.enable.rendered = function() {
            return new ViewModel({
              message: ''
            }).bind(this);
          };