#contacts
  hr
    border-color grey
    width 300px

  .row-contacts
    height 330px

  .contact-row
    margin-top 0px
    height 30px

    .contact-single
      margin-right 20px
      width 300px
      input
        width 130px
        margin 0px
    .contact-controls
      button
        margin-left 10px
        margin-right 0px
      .edit-error
        margin-left 20px

  .control-label
    width 30px

