template(name='checkedRadio')
  a.bookmark(id='checkedRadioBk')
  #checkedRadio.section
    h1 checked Binding (radios)
    p The checked binding links a checkable form control — i.e., a checkbox (input type='checkbox') or a radio button (input type='radio') — with a property on your view model.
    p When the user checks the associated form control, this updates the value on your view model. Likewise, when you update the value in your view model, this checks or unchecks the form control on screen.
    pre data-bind='checked: value'
    p Favorite color:
    label.checkbox
      input(type="radio", name="color", value="red", data-bind="checked: color")
      | Red
    label.checkbox
      input(type="radio", name="color", value="blue", data-bind="checked: color")
      | Blue
    p
      | Selected color: 
      span(data-bind="text: color")

  .section
    h2 Code
    ul.nav.nav-pills
      li.active
        a(href="#checkedRadio-jade", data-toggle="tab") Jade
      li
        a(href="#checkedRadio-html", data-toggle="tab") Html
    div.tab-content
      div#checkedRadio-jade.tab-pane.fade.active.in
        pre.
          template(name='checkedRadio')
            p Favorite color:
            label.checkbox
              input(type="radio", name="color", value="red", data-bind="checked: color")
              | Red
            div
              input(type="radio", name="color", value="blue", data-bind="checked: color")
              | Blue
            p Selected color:
            p(data-bind="text: color")
      div#checkedRadio-html.tab-pane.fade
        pre.
          &lt;template name=&quot;checkedRadio&quot;&gt;
            &lt;p&gt;Favorite color:&lt;/p&gt;
            &lt;div&gt;
              &lt;input type=&quot;radio&quot; name=&quot;color&quot; value=&quot;red&quot; data-bind=&quot;checked: color&quot;/&gt;Red
            &lt;/div&gt;
            &lt;div&gt;
              &lt;input type=&quot;radio&quot; name=&quot;color&quot; value=&quot;blue&quot; data-bind=&quot;checked: color&quot;/&gt;Blue
            &lt;/div&gt;
            &lt;p&gt;Selected color:&lt;/p&gt;
            &lt;p data-bind=&quot;text: color&quot;&gt;&lt;/p&gt;
          &lt;/template&gt;
    ul.nav.nav-pills
      li.active
        a(href="#checkedRadio-coffee", data-toggle="tab") Coffeescript
      li
        a(href="#checkedRadio-js", data-toggle="tab") Javascript
    div.tab-content
      div#checkedRadio-coffee.tab-pane.fade.active.in
        pre.
          Template.checkedRadio.rendered = ->
            new ViewModel(
              color: 'red'
          ).bind @
      div#checkedRadio-js.tab-pane.fade
        pre.
          Template.checkedRadio.rendered = function() {
            return new ViewModel({
              color: 'red'
            }).bind(this);
          };